.about {
    padding: 5% 0;
  }
  
  .about-content {
    display: flex;
    align-items: center;
  }
  


  .about-text, .about-image {
    padding: 1rem;
  }

  .about-text {
    /* flex: 1; */
    padding-right: 2rem;
    /* max-width: 600px; */
  }

  
  
  .about-image img {
    max-width: 100%;
    height: auto;
    border: 10px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .about-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .about-link {
    display: flex;
    align-items: center;
    text-decoration: none;

    padding: 0.5rem 1rem;
    border-radius: 4px;
        background-color: black;
        background: black;
        color: white;
        font-weight: bold;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        margin-top: 1rem;

  }
  
  .about-link:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .about-link svg {
    margin-right: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column-reverse;
    }
  
    .about-text {
      padding-right: 0;
      margin-top: 1rem;
    }
  
    .about-links {
      flex-direction: column;
      align-items: flex-start;
    }
  }