/* Landing.css */
.landing {
  display: flex;
  align-items: center;
  min-height: 80vh;
  /* padding: 5% 0; */
  padding-top: 67px;
}


.landing-text, .landing-image {
  /* flex: 1; */
  padding: 1rem;
}

.landing-text {
  justify-self: flex-start;
}

.landing-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: normal;
}

.landing-text h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

.landing-text h1 .highlight {
  font-weight: bold;
  /* text-decoration: underline; */
}

.landing-text .subtext {
  font-size: 1rem;
  color: #888;
  margin-top: 1rem;
}

.landing-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .landing {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .landing-text, .landing-image {
    width: 100%;
    /* margin-bottom: 2rem; */
  }
  .landing-text {
    text-align: start;
  }

  

  .landing-text h2 {
    font-size: 1.25rem;
  }

  .landing-text h1 {
    font-size: 2rem;
  }

  .landing-text .subtext {
    font-size: 1rem;
  }
}

/* bullets */ 

.bullet-points {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.bullet-point {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 50%;
}

.bullet-icon {
  margin-right: 0.5rem;
  color: black;
}

.bullet-text {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .bullet-points {
    margin-top: 1rem;
    flex-direction: column;
  }
  
  .bullet-point {
    width: 100%;
    margin-bottom: 0.25rem;
  }
  
  .bullet-text {
    font-size: 0.9rem;
  }
}