/* Projects.css */
.projects {
    padding: 2rem 0;
  }

  .project-logo {
      max-height: 14px;
      padding-bottom: 0.5rem;
  }
  
  .project-card {
    display: flex;
    margin-bottom: 3rem;
    /* background-color: #f8f8f8; */
    /* border-radius: 8px; */
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }
  
  .project-image {
    box-sizing: border-box;
    /* width: 40%; */
    max-width: 100%;
    /* max-height: 300px; */
    max-width: 510px;
    object-fit: contain;
    /* object-fit: cover; */
    margin: 1rem;
  }
  
  .project-info {
    padding: 2rem;
    width: 60%;
  }
  
  .project-info h3 {
    margin-top: 0;
    color: #333;
  }
  
  .project-info h4 {
    color: #666;
    margin-bottom: 1rem;
  }
  
  /* .project-info button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
  } */
  
  @media (max-width: 768px) {
    .project-card {
      flex-direction: column;
    }
  
    
    .project-info {
      width: 100%;
    }

    .project-image {
        width: calc(100% - 2 * 1rem);
    }
  }
  @media (min-width: 768px) {

/* Alternate layout for even projects */
.project-card:nth-child(even) {
    flex-direction: row-reverse;
  }

}

.project-card-divider {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    margin: 1.5rem 0;
  }

  p1 {
      font-size: 1rem;
      font-style: italic;
  }

  p2 {
    font-size: 1rem;
    font-style: italic;
    color: gray;
}

.view-case-study-button {
    background-color: black;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .view-case-study-button:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .projects h2 {
   padding: 1rem;
   }